{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PechkinPost</title>
     <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <style>
	body{background-image:url('/media/fon.jpg');
        background-attachment:fixed;background-repeat: no-repeat;
        background-size: cover;}
   </style>

</head>
{% include 'mail/includes/main_menu.html' %}
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}
</body>
</html>