{% extends 'mail/base.html' %}
{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">PechkinPost</h1>
    <p class="lead">PechkinPost - я почему раньше злой был?</p>
    <p class="lead">Потому что у меня велосипеда не было!</p>
    <img src='/media/pechkin.jpg' class="card-img-top-center" alt="">
</div>



<script src="/static/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block footer %}
{% include 'mail/includes/footer.html' %}
{% endblock %}