{% extends 'mail/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>
                            Вы уверены, что хотите удалить запись {{ object.id }} c сообщением {{ object.sending_msg }}?
                        </p>
                        <a class="btn btn-danger w-5" href="{% url 'mail:sending' %}">Нет</a>
                        <button class="btn btn-success w-5" type="submit">Да</button>

                    </form>
                </div>
            </div>
    </div>
{% endblock %}