{% extends 'mail/base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Дата и время попытки</th>
            <th scope="col">Cтатус попытки</th>
            <th scope="col">Ответ почтового сервера</th>
        </tr>
        </thead>

        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.date }}</td>
                <td>{{ object.attempt_status }}</td>
                <td>{{ object.answer }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}